{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger Thrift Shop",
    "contact": {
      "email": "apiteam@themonograf.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://thrift-api.themonograf.com/api"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authorization"
    },
    {
      "name": "User",
      "description": "Data User to access brankas"
    },
    {
      "name": "Product Category",
      "description": "Data Category"
    },
    {
      "name": "Product",
      "description": "Data Product"
    },
    {
      "name": "Catalog",
      "description": "Data Catalog"
    },
    {
      "name": "Upload",
      "description": "Upload Data"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login to access brankas",
        "description": "Login to access brankas",
        "operationId": "login",
        "requestBody": {
          "description": "Login to access brankas",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "username",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "rrqvivi"
                  },
                  "password": {
                    "type": "string",
                    "example": "123akuSayangKamu"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "token": {
                      "type": "string",
                      "example": "adskghfewior63yugdbhsakjfhds"
                    },
                    "data": {
                      "$ref": "#/components/schemas/USER_DATA"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Username dan password harus diisi / Username atau password salah.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Data User",
        "description": "Data User",
        "operationId": "getAllUser",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "keyword for search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/USER_DATA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Data User",
        "description": "Data User",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "username",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "rrqvivi"
                  },
                  "username": {
                    "type": "string",
                    "example": "rrqvivi"
                  },
                  "password": {
                    "type": "string",
                    "example": "123akuSayangKamu"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Data User",
        "description": "Data User",
        "operationId": "updateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "name",
                  "username",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "example": "rrqvivi"
                  },
                  "username": {
                    "type": "string",
                    "example": "rrqvivi"
                  },
                  "password": {
                    "type": "string",
                    "example": "123akuSayangKamu"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Data User",
        "description": "Data User",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of User",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/product-category": {
      "get": {
        "tags": [
          "Product Category"
        ],
        "summary": "Data Product Category",
        "description": "Data Product Category",
        "operationId": "getAllProductCategory",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "keyword for search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CATEGORY_DATA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product Category"
        ],
        "summary": "Data Product Category",
        "description": "Data Product Category",
        "operationId": "createProductCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "category",
                  "image"
                ],
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "example": "cardigan"
                  },
                  "image": {
                    "type": "string",
                    "example": "https://cdn.themonograf.com/images/1665665744_category_image.jpeg"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product Category"
        ],
        "summary": "Data Product Category",
        "description": "Data Product Category",
        "operationId": "updateProductCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "category",
                  "image"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "category": {
                    "type": "string",
                    "example": "cardigan"
                  },
                  "image": {
                    "type": "string",
                    "example": "https://cdn.themonograf.com/images/1665665744_category_image.jpeg"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/product-category/{id}": {
      "delete": {
        "tags": [
          "Product Category"
        ],
        "summary": "Data Product Category",
        "description": "Data Product Category",
        "operationId": "deletProductCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Product Category",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Username dan password harus diisi / Username atau password salah.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/product": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Data Product",
        "description": "Data Product",
        "operationId": "getAllProduct",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "keyword for search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PRODUCT_DATA_BRANKAS"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Data Product",
        "description": "Data Product",
        "operationId": "createProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "product_category_id",
                  "name",
                  "variant",
                  "prefix",
                  "description",
                  "basic_price",
                  "catalog_price",
                  "olshop_price",
                  "min_live_price",
                  "product_image"
                ],
                "type": "object",
                "properties": {
                  "product_category_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "example": "Uniqlo Crewnect"
                  },
                  "variant": {
                    "type": "string",
                    "example": "HITAM"
                  },
                  "prefix": {
                    "type": "string",
                    "example": "UNIQLO"
                  },
                  "description": {
                    "type": "string",
                    "example": "bahan lembut"
                  },
                  "basic_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "catalog_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "olshop_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "min_live_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "product_image": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "is_primary": {
                          "type": "boolean",
                          "example": true
                        },
                        "image": {
                          "type": "string",
                          "example": "http://image.jpg"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Data Product",
        "description": "Data Product",
        "operationId": "updateProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "product_category_id",
                  "name",
                  "variant",
                  "prefix",
                  "description",
                  "basic_price",
                  "catalog_price",
                  "olshop_price",
                  "min_live_price",
                  "product_image"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "product_category_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "example": "Uniqlo Crewnect"
                  },
                  "variant": {
                    "type": "string",
                    "example": "HITAM"
                  },
                  "prefix": {
                    "type": "string",
                    "example": "UNIQLO"
                  },
                  "description": {
                    "type": "string",
                    "example": "bahan lembut"
                  },
                  "basic_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "catalog_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "olshop_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "min_live_price": {
                    "type": "integer",
                    "example": 10000
                  },
                  "product_image": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "is_primary": {
                          "type": "boolean",
                          "example": true
                        },
                        "image": {
                          "type": "string",
                          "example": "http://image.jpg"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/product/{id}": {
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Data Product",
        "description": "Data Product",
        "operationId": "deletProduct",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Product",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Username dan password harus diisi / Username atau password salah.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/product-image/{id}": {
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Data Product",
        "description": "Data Product",
        "operationId": "deletProductImage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Product Image",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Username dan password harus diisi / Username atau password salah.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/product-category": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Data Product Category Catalog",
        "description": "Data Product Category Catalog",
        "operationId": "getAllProductCategoryCatalog",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "keyword for search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CATEGORY_DATA"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/product": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Data Product Catalog",
        "description": "Data Product Catalog",
        "operationId": "getAllProductCatalog",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "keyword for search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_category_id",
            "in": "query",
            "description": "product_category_id for search",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type for product(all,reseller,catalog)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PRODUCT_DATA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/product/{slug}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Data Product Catalog",
        "description": "Data Product Catalog",
        "operationId": "getProductCatalog",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug of Product Category",
            "required": true,
            "schema": {
              "type": "string",
              "example": "artette-breeze-cardigan-outer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PRODUCT_DATA"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/reseller": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Data reseller Catalog",
        "description": "Data reseller Catalog",
        "operationId": "getResellerCatalog",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/RESELLER_DATA"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/reseller/item": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Data Product Item",
        "description": "Data Product Item",
        "operationId": "createUpdateProductItem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "product_id",
                  "price",
                  "description",
                  "enable",
                  "tokopedia",
                  "shopee",
                  "link"
                ],
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "price": {
                    "type": "integer",
                    "example": 800000
                  },
                  "description": {
                    "type": "string",
                    "example": "default dari descriptin product"
                  },
                  "enable": {
                    "type": "boolean",
                    "example": "true,",
                    "description": "untuk menampilkan sesuai keinginan reseller"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1,
                    "description": "jika terisi data maka data akan menjadi update"
                  },
                  "tokopedia": {
                    "type": "string",
                    "example": "http://tokopedia.com"
                  },
                  "shopee": {
                    "type": "string",
                    "example": "http://shopee.com"
                  },
                  "link": {
                    "type": "string",
                    "example": "http://link.com"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/reseller/order": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Create Order",
        "description": "Create Order",
        "operationId": "createOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "product_id",
                  "type_sale",
                  "customer_name",
                  "customer_phonenumber",
                  "customer_address",
                  "sell_price"
                ],
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "type_sale": {
                    "type": "integer",
                    "example": 1
                  },
                  "customer_name": {
                    "type": "string",
                    "example": "Kuntet"
                  },
                  "customer_phonenumber": {
                    "type": "string",
                    "example": "08767245746"
                  },
                  "customer_address": {
                    "type": "string",
                    "example": "Bogor"
                  },
                  "sell_price": {
                    "type": "integer",
                    "example": 800000
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "maxItems": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/login": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Login to access catalog",
        "description": "Login to access catalog",
        "operationId": "loginCatalog",
        "requestBody": {
          "description": "Login to access catalog",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "username",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "rrqvivi"
                  },
                  "password": {
                    "type": "string",
                    "example": "123akuSayangKamu"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "token": {
                      "type": "string",
                      "example": "adskghfewior63yugdbhsakjfhds"
                    },
                    "data": {
                      "$ref": "#/components/schemas/RESELLER_DATA"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Username dan password harus diisi / Username atau password salah.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Data Upload",
        "description": "Data Upload",
        "operationId": "uploadImage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "type",
                  "image"
                ],
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "category"
                  },
                  "image": {
                    "type": "string",
                    "example": "upload"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "string",
                      "example": "https://cdn.themonograf.com/images/1665665744_category_image.jpeg"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/upload/bulk": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Data Upload Multiple",
        "description": "Data Upload Multiple",
        "operationId": "uploadImageMultiple",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "type",
                  "image"
                ],
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "category"
                  },
                  "image": {
                    "type": "string",
                    "example": "upload"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "string",
                      "example": []
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Input Parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INVALID_INPUT_ERROR"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "USER_DATA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "admin"
          },
          "username": {
            "type": "string",
            "example": "admin"
          },
          "password": {
            "type": "string",
            "example": "enwklfnewkfgi3y82iedjkfnewfb"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "example": null
          }
        }
      },
      "CATEGORY_DATA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "category": {
            "type": "string",
            "example": "Cardigan"
          },
          "image": {
            "type": "string",
            "example": "https://cdn.themonograf.com/images/1665665744_category_image.jpeg"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "example": null
          }
        }
      },
      "PRODUCT_DATA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Artette Breeze Cardigan Outer"
          },
          "variant": {
            "type": "string",
            "example": "Black"
          },
          "description": {
            "type": "string",
            "example": "Kondisi: 90% Like new"
          },
          "productCategoryId": {
            "type": "integer",
            "example": 1
          },
          "price": {
            "type": "integer",
            "example": 50000
          },
          "olshopPrice": {
            "type": "integer",
            "example": 50000
          },
          "minLivePrice": {
            "type": "integer",
            "example": 50000
          },
          "slug": {
            "type": "string",
            "example": "artette-breeze-cardigan-outer"
          },
          "isSold": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "string",
            "example": "ARTETTE0123"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "example": null
          },
          "product_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PRODUCT_IMAGE_DATA"
            }
          },
          "product_item": {
            "$ref": "#/components/schemas/PRODUCT_ITEM_DATA"
          }
        }
      },
      "PRODUCT_DATA_BRANKAS": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Artette Breeze Cardigan Outer"
          },
          "variant": {
            "type": "string",
            "example": "Black"
          },
          "description": {
            "type": "string",
            "example": "Kondisi: 90% Like new"
          },
          "productCategoryId": {
            "type": "integer",
            "example": 1
          },
          "price": {
            "type": "integer",
            "example": 50000
          },
          "olshopPrice": {
            "type": "integer",
            "example": 50000
          },
          "minLivePrice": {
            "type": "integer",
            "example": 50000
          },
          "slug": {
            "type": "string",
            "example": "artette-breeze-cardigan-outer"
          },
          "isSold": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "string",
            "example": "ARTETTE0123"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "example": null
          },
          "product_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PRODUCT_IMAGE_DATA"
            }
          }
        }
      },
      "PRODUCT_IMAGE_DATA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "isPrimary": {
            "type": "boolean",
            "example": true
          },
          "productId": {
            "type": "integer",
            "example": 1
          },
          "image": {
            "type": "string",
            "example": "https://cdn.themonograf.com/images/1665665744_category_image.jpeg"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          }
        }
      },
      "PRODUCT_ITEM_DATA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "resellerId": {
            "type": "integer",
            "example": 1
          },
          "productId": {
            "type": "integer",
            "example": 1
          },
          "price": {
            "type": "integer",
            "example": 50000
          },
          "tokopedia": {
            "type": "string",
            "example": "http://tokopedia.com"
          },
          "shopee": {
            "type": "string",
            "example": "http://shopee.com"
          },
          "link": {
            "type": "string",
            "example": "http://link.com"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          }
        }
      },
      "RESELLER_DATA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Fitz Gerald"
          },
          "address": {
            "type": "string",
            "example": "Jl. Adress no 15"
          },
          "email": {
            "type": "string",
            "example": "fitz@themonograf.com"
          },
          "phoneNumber": {
            "type": "string",
            "example": "0821247XXX"
          },
          "tokopedia": {
            "type": "string",
            "example": "https://tokopedia.com/fitz"
          },
          "shopee": {
            "type": "string",
            "example": "https://shopee.com/fitz"
          },
          "instagram": {
            "type": "string",
            "example": "https://instagram.com/fitz"
          },
          "username": {
            "type": "string",
            "example": "fitz"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-04T11:27:33.000Z"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "example": null
          }
        }
      },
      "INVALID_INPUT_ERROR": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "description": "Custom error code",
            "type": "string",
            "format": "string",
            "example": "Invalid input data format"
          }
        }
      },
      "INTERNAL_SERVER_ERROR": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "state_code": {
            "description": "Custom error code",
            "type": "string",
            "format": "string",
            "example": "INTERNAL_SERVER_ERROR"
          },
          "message": {
            "description": "Custom error code",
            "type": "string",
            "format": "string",
            "example": "Internal server error"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}